In [65]:
# Import Dependencies
import pandas as pd

In [66]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [67]:
# Figure out the minimum and maximum views for a TED Talk
#print(str(ted_df["views"].min()) + ' ' + str(ted_df["views"].max()))
ted_df["views"].min()

50443

In [68]:
ted_df["views"].max()

47227110

In [69]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 20000, 40000, 60000, 80000, 1000000, 2000000, 3000000, 4000000, 5000000]
# Create labels for these bins
labels_list = ["0 to 200k", "200k to 400k", "400k to 600k", "600k to 1 mil", "1 mil to 2 mil", "2mil to 3mil", "3mil", "3mil to 4mil", "4mil to 5 mil"]

In [70]:
# Slice the data and place it into bins
pd.cut(ted_df["views"], bins, labels=labels_list)

0                  NaN
1         3mil to 4mil
2         2mil to 3mil
3         2mil to 3mil
4                  NaN
5                  NaN
6         3mil to 4mil
7       1 mil to 2 mil
8                 3mil
9         3mil to 4mil
10        2mil to 3mil
11      1 mil to 2 mil
12      1 mil to 2 mil
13       4mil to 5 mil
14      1 mil to 2 mil
15                3mil
16        2mil to 3mil
17        2mil to 3mil
18        2mil to 3mil
19        2mil to 3mil
20      1 mil to 2 mil
21                 NaN
22      1 mil to 2 mil
23                 NaN
24        2mil to 3mil
25        2mil to 3mil
26                3mil
27                3mil
28                 NaN
29                 NaN
             ...
2520    1 mil to 2 mil
2521    1 mil to 2 mil
2522    1 mil to 2 mil
2523    1 mil to 2 mil
2524    1 mil to 2 mil
2525    1 mil to 2 mil
2526    1 mil to 2 mil
2527    1 mil to 2 mil
2528    1 mil to 2 mil
2529    1 mil to 2 mil
2530    1 mil to 2 mil
2531    1 mil to 2 mil
2532      2mil to 3mil
2533    1 mil to 2 mil
2534    1 mil to 2 mil
2535    1 mil to 2 mil
2536    1 mil to 2 mil
2537      2mil to 3mil
2538    1 mil to 2 mil
2539    1 mil to 2 mil
2540    1 mil to 2 mil
2541    1 mil to 2 mil
2542    1 mil to 2 mil
2543    1 mil to 2 mil
2544    1 mil to 2 mil
2545    1 mil to 2 mil
2546    1 mil to 2 mil
2547    1 mil to 2 mil
2548    1 mil to 2 mil
2549    1 mil to 2 mil
Name: views, Length: 2550, dtype: category
Categories (9, object): [0 to 200k < 200k to 400k < 400k to 600k < 600k to 1 mil ... 2mil to 3mil < 3mil < 3mil to 4mil < 4mil to 5 mil]

In [71]:
# Place the data series into a new column inside of the DataFrame

In [72]:
# Create a GroupBy object based upon "View Group"


# Find how many rows fall into each bin


# Get the average of each column within the GroupBy object